:root.theme-dark {
  /* Дублируем переменные (для принудительного переключения) */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;

  --title-color: #db00ff;

  --subtitle-color: #000028;
  --text-on-accent: #000028;

  --decor-color: #ff0070;

  --bg-image: url('../images/cover-image-dark.png');

  --title-text-shadow: 4px 4px 0 var(--accent-color);
  --rec-shadow-color: var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);

  --rec-display: inline-flex;

  --menu-border-hover: rgb(241 178 206 / 0.4);
}