.theme-light {
  --bg-color: #fff;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --title-color: #000028;
  --accent-color: #ff0070;
  --decor-bg-color: var(--accent-color);
  --decor-text-color: #fff;
  --border-color: var(--accent-color);
  --accent-color-transparent: rgb(255 0 112 / 0.4);
  --title-shadow-color: transparent;
  --rec-display: block;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --bg-color: #fff;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --title-color: #000028;
    --accent-color: #ff0070;
    --decor-bg-color: var(--accent-color);
    --decor-text-color: #fff;
    --border-color: var(--accent-color);
    --accent-color-transparent: rgb(255 0 112 / 0.4);
    --title-shadow-color: transparent;
    --rec-display: block;
  }
}