:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --menu-color: #353430;
  --accent-color: #ff8dcb;

  --title-color: #ffc2e6;
  --section-title-color: var(--text-color);
  --subtitle-color: #353430;
  --text-on-accent: #353430;

  --decor-color: #353430;

  --bg-image: url('../images/cover-image-light.png');

  --title-text-shadow: 4px 4px 0 var(--accent-color);
  --rec-shadow-color: var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);

  --rec-display: none;

  --menu-border-hover: rgb(53 52 48 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --title-color: #ffc2e6;
    --section-title-color: var(--text-color);
    --subtitle-color: #353430;
    --text-on-accent: #353430;

    --decor-color: #353430;

    --bg-image: url('../images/cover-image-light.png');

    --title-text-shadow: 4px 4px 0 var(--accent-color);
    --rec-shadow-color: var(--accent-color);
    --link-shadow: 2px 2px 0 var(--accent-color);

    --rec-display: none;

    --menu-border-hover: rgb(53 52 48 / 0.4);
  }
}