.page {
  font-family: var(--font-family);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: var(--decor-offset);
  inset-inline-end: var(--decor-offset);
  border-inline-end: var(--decor-thickness) solid var(--decor-color);
  border-block-start: var(--decor-thickness) solid var(--decor-color);
}

.decorated-zone::after {
  inset-block-end: var(--decor-offset);
  inset-inline-start: var(--decor-offset);
  border-inline-start: var(--decor-thickness) solid var(--decor-color);
  border-block-end: var(--decor-thickness) solid var(--decor-color);
}

.header {
  min-block-size: max(100vh, var(--header-min-height));
  padding: var(--page-padding);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  position: relative;
}


.header__theme-menu {
  justify-self: end;
  align-self: start;
  padding-block-start: 67px;
  color: var(--menu-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__rec {
  display: var(--rec-display);
  position: absolute;
  inset-block-start: calc(var(--decor-offset) + 5px);
  inset-inline-end: calc(var(--decor-offset) + 10px);

  color: var(--accent-color);
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  line-height: 1;

  text-shadow: 0 0 4px 2px var(--rec-shadow-color);
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--rec-shadow-color);
}


.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: var(--title-text-shadow);
  align-self: center;

}


.header__subtitle {
  justify-self: start;
  min-inline-size: 355px;
  font-weight: var(--font-weight-bold);
  align-self: end;
  line-height: 1.3;
  margin-block-end: 55px;
}

.title-decor {
  display: block;
  inline-size: 100%;
  background: var(--accent-color);
  color: var(--subtitle-color);
}

.content {
  padding: 0 var(--page-padding);
  margin-block: 40px;
  
  display: grid;
  gap: var(--section-gap);
}

.content__section {
  display: grid;
  gap: var(--block-gap);
}

.content__section-title {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  color: var(--section-title-color);
}

.content__cards {
  display: grid;
  gap: var(--card-gap);
}

.content__card {
  display: grid;
  align-content: start;
}

.content__section:not(.content__section_type_how) .content__card {
  gap: 10px;
}

.content__section_type_how .content__cards > .content__card {
  gap: 20px;
}

.content__section_type_how .content__cards > .content__card > .content__card {
  gap: 10px;
}

.content__card-title {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.content__card-title_weight_regular {
  font-weight: var(--font-weight-regular);
}

.content__card-text {
  font-size: 18px;
}


.link {
  text-decoration: none;
  text-shadow: var(--link-shadow);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: var(--outline-size) solid currentColor;
  outline-offset: 2px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  min-block-size: max(100vh, var(--footer-min-height));
  padding: var(--page-padding);
  display: grid;
  place-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);;
}


@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: calc(-1 * var(--page-padding));
  }

  .header__subtitle {
    justify-self: end;
    inline-size: 364px;
    margin-block-end: 158px;
  }

  .header__theme-menu-list {
    grid-auto-flow: row;
    gap: 10px;
  }

  .header__theme-menu {
    padding-block-start: 172px;
  }

  .content {
    margin-block: 60px;
    padding-block-end: 60px;
    gap: 80px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: start;
  }

  .content__section-title {
    max-width: 236px;
  }

  .content__section_type_what {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content__section_type_what .content__cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 260px);
  }

  .gallery__image_type_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_type_ice {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image_type_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image_type_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image_type_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .gallery__image {
    block-size: 100%;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .content {
    max-inline-size: none;
    margin-inline: 0;
    padding-block-end: 0;
  }

  .header__theme-menu {
    justify-self: center;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 10px;
  }

  .header {
    grid-template-rows: min-content 1fr min-content;
    align-content: space-between;
    
  }

  .header__title {
    margin-inline-start: calc(-1 * var(--page-padding));
    margin-block-start: 170px;
}

  .header__subtitle {
    justify-self: end;
    align-self: end;
    inline-size: 491px;
    margin-inline-end: 5px;
    margin-block-end: 112px;
    line-height: 1.3;
  }


  .content__section:not(.content__section_type_what) {
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
    align-items: start;
  }

  .content__section:not(.content__section_type_what) .content__cards {
    grid-template-columns: 1fr;
  }

  .content__section_type_what {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    align-items: start;
  }

   .content__section-title {
    max-width: 315px;
  }

  .content__section_type_what .content__section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

  .content__section_type_what .content__cards {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .tablet-break {
    display: none;
  }
}