:root {
  --font-family: 'IBM Plex Mono', monospace;
  --menu-color: #ff0070;
  --text-size: 18px;
  --text-line-height: 1.3;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --page-padding: 10px;
  --section-gap: 50px;
  --block-gap: 20px;
  --card-gap: 20px;
  

  --header-min-height: 668px;
  --footer-min-height: 668px;

  --decor-thickness: 1px;
  --decor-offset: 10px;

  --outline-size: 1px;

  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-title-color: var(--accent-color);

  --title-color: #db00ff;

  --subtitle-color: #000028;
  --text-on-accent: #000028;

  --decor-color: #ff0070;

  --bg-image: url('../images/cover-image-dark.png');

  --title-text-shadow: 4px 4px 0 var(--accent-color);
  --rec-shadow-color: var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);

  --rec-display: inline-flex;

  --menu-border-hover: rgb(241 178 206 / 0.4);

  --aside-col-desktop: 315px;
  --subtitle-max-desktop: 491px;
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --decor-offset: 20px;

    --header-min-height: 1024px;
    --footer-min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 20px;
    --decor-offset: 20px;

    --header-min-height: 768px;
    --footer-min-height: 768px;
  }
}